@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Imperial+Script&family=Manrope:wght@200..800&display=swap');


:root{
    --color:#000;
    --bg:#fff;
    --primary:#007bff;
    --border:#ccc;
}
* {
    box-sizing: border-box;
    padding: 0;

    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg);
    color: var(--color);
}