@import url('https://fonts.googleapis.com/css2?family=Anta&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Imperial+Script&family=Manrope:wght@200..800&display=swap');


:root {
    --color: #000;
    --bg: #fff;
    --primary: #007bff;
    --border: #ccc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}
button {
    width: 150px;
    height: 40px;
    outline: none;
    margin-top: 1rem;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    background-color: var(--primary);
    color: var(--bg);
}

button span {
    padding: 0.5rem 0.2rem;
    font-size: 0.rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    caret-color: transparent;
}

.Hero__content__buttons__btn1 {
    border: none;
    border-radius: 5px;
    background-color: var(--color);
    color: var(--bg);
}

.Hero__content__buttons__btn1:hover {
    border: 1px solid var(--color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg);
    color: var(--color);
}

.Hero__content__buttons__btn2 {
    border: 1px solid var(--color);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--color);
}

.Hero__content__buttons__btn2:hover {
    border: 1px solid var(--color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color);
    color: var(--bg);
}


.section {
    width: 70%;
}

.section h1 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-top: 7vh;
    font-size: 1.5rem;
    text-align: left;
}

.section p {
    padding: 0%;
    font-size: 0.7rem;
}