.Book{
    background-color: #f5f5f5;
    color: var(--color);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Book_background{
    width: 70%;
}
.Book h1{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: left;
}
.Book_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.Book_background p{
    font-size: 0.7rem;
    padding: 0%;
}
.Book_card{
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;

}
.Book_card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.Book_card img{
    width: 177px;
    height: 277px;
    border-radius: 0.5rem;
}
.Book_card h2{
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: left;
}
.Book_card p{
    font-size: 0.7rem;
    margin: 0.5rem 0;
    text-align: left;
}
.Book_card a{
    display:inline-block;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    text-decoration: underline;
    font-weight: bold;
}
.Book_card a:hover{
    color: var(--primary);
    font-weight: bold;
}