.Music {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 10vh 2rem;
}

.music_player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 0vh;
}

.player {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player img {
    border-radius: 10px;
    width: 220px;
    height: 257px;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.1);
}

.controls {
    width: 100%;
}

.playlist {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.playlist-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid black;

}

.playlist-row:first-child:hover {
    border-radius: 10px 10px 0 0;
}

.playlist-row:last-child {
    border-bottom: none;
}

.playlist-row:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.playlist-row:hover {
    transform: scale(1.1);
    border: 1px solid black;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    margin: 0px;
}

.playlist-row span {
    text-align: left;
    transform: scale(0.7);

}
.song_title{
    width: 70%;
}

.controls {
    width: 100%;
    height: 257px;
    background-color: red;
    text-align: left;
    padding: 1rem;

}
.controls .Song_name{
    padding-top: 0.5rem;
}
.controls .Song_Artist{
    padding-bottom: 0.5rem;
}
@media (max-width: 700px) {
    .music * {
        text-align: center;
        justify-content: center;
    }

    .player {
        width: 100%;
    }

    .music_player {
        flex-direction: column;
        justify-content: center;
    }

    .player {
        flex-direction: column;
    }

    .playlist {
        width: 100%;
    }

}