.Music {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 10vh 2rem;

}

.music_player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 0vh;
}

.player {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.player img{
    border-radius: 10px;
    width: 220px;
    height: 250px;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.1);
}
.controls {
    width: 100%;
    border: 1px solid black;
}
.playlist{
    width: 45%;
    background-color: red;
}