.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    font-family: "Cormorant Garamond", serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav .nav-left h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;

}

.nav .nav-right {
    display: flex;
    align-items: center;
}

.nav .nav-right ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}

.nav .nav-right ul li a {
    text-decoration: none;
    margin: 0.5rem;
    color: var(--text);
    padding: 0.2rem;
}

.nav .nav-right ul li a:hover {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}
/* 
@media (max-width: 700px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;

    }

    .nav .nav-right ul {
        flex-direction: column;
        width: 100vw;
    }
    .nav .nav-right ul li{
        margin: 0.5rem 0;
    }

    .nav .nav-right ul li a {
        margin: auto;
        width: 100vw;
        padding-top: 1rem;

    }
} */